In [160]:
import pandas as pd
import numpy as np
car=pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [78]:
car.shape

(892, 6)

In [79]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [80]:
#quality 
- company have some integer in it
-year have some str in it like 150k
-year is obeject
-price have Ask For Price entry
-price have ,
-kms drive have mixed as 1000kms remove kms
-kms has ,
-keep only first 3 names

SyntaxError: invalid decimal literal (4268602014.py, line 3)

In [81]:
CLEANING

NameError: name 'CLEANING' is not defined

In [82]:
backup=car.copy()

In [83]:
car=car[car['year'].str.isnumeric()]

In [84]:
car['year']=car['year'].astype(int)

In [85]:
car=car[~(car['Price']=='Ask For Price')]

In [86]:
car['Price']=car['Price'].str.replace(',','')

In [87]:
car['Price']=car['Price'].astype(int)

In [88]:
car['kms_driven'].str.lstrip()

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [89]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0)

In [90]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,"28,000",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,"36,000",Diesel
6,Ford Figo,Ford,2012,175000,"41,000",Diesel

In [91]:
car['kms_driven']=car['kms_driven'].str.replace(",","")

In [92]:
car=car[car['kms_driven'].str.isnumeric()]

In [93]:
car['kms_driven']=car['kms_driven'].astype(int)

In [94]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel

In [95]:
car=car[~(car['fuel_type'].isna())]

In [96]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [97]:
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6               Ford Figo      Ford  2012  175000       41000    Diesel

In [98]:
car=car.reset_index(drop=True)

In [99]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 38.4+ KB

In [100]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [101]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [102]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int64
 3   Price       815 non-null    int64
 4   kms_driven  815 non-null    int64
 5   fuel_type   815 non-null    object
dtypes: int64(3), object(3)
memory usage: 38.3+ KB

In [103]:
car.to_csv('cleanedcar.csv')

MODEL

In [104]:
x=car.drop(columns='Price')
y=car['Price']

In [105]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [106]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [133]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [108]:
x_train

                     name    company  year  kms_driven fuel_type
400     Renault Duster 85    Renault  2015       65000    Diesel
589  Mahindra Scorpio 2.6   Mahindra  2007       56000    Diesel
379        Tata Indigo LX       Tata  2016      104000    Diesel
612     Maruti Suzuki Zen     Maruti  2003       60000    Petrol
743     Chevrolet Beat LS  Chevrolet  2014       31000    Diesel
..                    ...        ...   ...         ...       ...
534   Mahindra XUV500 W10   Mahindra  2018       40000    Diesel
584    Maruti Suzuki Omni     Maruti  2012      160000       LPG
493   Maruti Suzuki Wagon     Maruti  2017       23000    Petrol
527      BMW X1 xDrive20d        BMW  2011       72000    Diesel
168  Mahindra Scorpio S10   Mahindra  2015       97200    Diesel

[652 rows x 5 columns]

In [128]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [151]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

trf1=ColumnTransformer([('onehoten',OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type'])])
lr=LinearRegression()
pipe=Pipeline([('trf1',trf1),
               ('trf2',lr)])
pipe.fit(x_train,y_train)

Pipeline(steps=[('trf1',
                 ColumnTransformer(transformers=[('onehoten',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS', 'Chevrolet Beat LT...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('trf2', LinearRegression())])

In [152]:
y_pred=pipe.predict(x_test)

In [153]:
y_pred

array([ 325818.32344508,  288965.88297999,  203763.21029349,
        696998.71560521,  227930.1945696 ,  325818.32344508,
        504843.08573045,  228000.11281978,  227930.1945696 ,
        548900.43794203, 1511330.63341499,  108200.32604731,
        279400.59423741,  350508.34324781,  328368.6558922 ,
        475331.98691301,  298882.48854643,  436666.5943389 ,
        273167.68208543,  230000.12463251,  108200.32604731,
        180000.29666629,  785713.5895123 , 1047499.68231049,
        558766.36073757,   89845.87557787,  434996.75171873,
        367416.95247648,  256503.51713163,  279400.59423741,
        311993.42149661,  220000.28153698,   59999.17740583,
       1891112.98584719, 1502140.01559507, 1482757.31085296,
        474001.25505102,  297452.27139117,  177292.23799417,
        434286.06476576,  175000.91818299,  250827.27167538,
        250334.75877815,  256503.51713163,  429998.68805797,
         70355.44615285,  279400.59423741,  529998.06957463,
        608332.13938999,  159500.10972223, 1429996.22719814,
       1047499.68231049,  488967.97727354,  279400.59423741,
        203763.21029349,  255714.28630858,   40000.23009072,
         89998.93189196,  729998.68618535,  112501.43720843,
        579998.42476147,  683835.39816084,  367785.86823842,
        317539.20554202,  674998.28941558,   89845.87557787,
        268211.71041151,  356941.97845423,  317999.94898608,
        574286.9328598 ,  250334.75877815,  474001.25505102,
        279400.59423741,  674998.28941558,  156809.71331046,
        300000.31958016,  228058.80936418,  297245.00088304,
        215713.35711478,  529998.06957463,  177292.23799417,
        203763.21029349,  116999.96247819,  367785.86823842,
        474001.25505102,  559501.80287667,  674998.28941558,
        227930.1945696 ,  524998.3821212 ,  227930.1945696 ,
        729998.68618535,  370005.63670939,  550500.82587217,
        608332.13938999, 1891112.98584719,  250827.27167538,
        177292.23799417,  359179.69668822, 1129441.86219683,
        187501.29644121,  830001.08258557,  412999.70175494,
        395990.27503851, 1516340.79160319,  250827.27167538,
        529998.06957463, 1046428.38184646,  250334.75877815,
        785713.5895123 ,  587339.68329961,  544047.69767296,
        177292.23799417,  434996.75171873, 1511330.63341499,
        356941.97845423, 1270428.48836738,  399798.2752039 ,
        367785.86823842,  848210.71898524,  283390.93003541,
        203763.21029349,  175000.91818299,  261370.99854832,
        116999.96247819,  221667.313698  ,   91335.20022735,
        363600.77399354,  504843.08573045,  367785.86823842,
        524998.3821212 ,  268878.94882914,  558766.36073757,
        370005.63670939,  279400.59423741,  559501.80287667,
        269498.50737151,  108200.32604731,  177292.23799417,
        250827.27167538,  370005.63670939,  300000.31958016,
        270309.1659844 ,  350508.34324781,   40000.23009072,
        488967.97727354,  241666.15564095,  388925.93493938,
        177292.23799417,  331427.02555052,  241666.15564095,
        631916.91146115,  240000.10586355,  356941.97845423,
        488967.97727354, 1891112.98584719,  221667.313698  ,
        502574.57761305,   98928.76871488,  250827.27167538,
        230000.12463251,  220000.28153698,  443652.30724787,
        159500.10972223])

In [155]:
r2_score(y_test,y_pred)

0.5481097875273337

In [158]:
score=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    score.append(r2_score(y_test,y_pred))

In [166]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(score))
lr=LinearRegression()
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8480687802841872

In [170]:
import pickle 
pickle.dump(pipe,open('linearregmodel.pkl','wb'))